  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

  :root {
    /* Primary */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

        /* Neutral */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
  }

  *, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Poppins', sans-serif;
    font-size: .95rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--Very-Light-Gray);
  }

  header {
    text-align: center;
    max-width: 600px;
  }

  img {
    max-width: 100%;
    display: block;
  }

  p {
    color: var(--Grayish-Blue);
    padding: .25em;
  }

  .title {
    font-weight: bold;
    font-size: 2.5rem;
    padding-top: 3em;
    color: var(--Very-Dark-Blue);
  }

  .title span {
    font-weight: 200;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    gap: 1.5rem;
    width: 90%;
    max-width: 1300px;
    margin-block: 1em;
  }

  .main--container {
    max-width: 410px;
    background-color: #fff;
    padding: 1.5em;
    box-shadow: 5px 8px 8px hsla(180, 34%, 40%, 0.212);
    border-radius: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } 

  .main--container img {
    align-self: flex-end;
    padding-top: 2em;
  }

  .container-title {
    color: var(--Very-Dark-Blue);
    margin-bottom: .25em;
  }

  .section--two {
    display: grid;
    row-gap: 1.5rem;
  }

  .red {
    border-top: 3px solid var(--Red);
  }

  .cyan {
    border-top: 3px solid var(--Cyan);
  }

  .blue {
    border-top: 3px solid var(--Blue);
  }

  .orange {
    border-top: 3px solid var(--Orange);
  }

    .attribution { 
      font-size: 11px; 
      text-align: center; 
    }

    .attribution a {
       color: hsl(228, 45%, 44%);
       }

       @media (max-width: 800px) {
        .wrapper {
          flex-direction: column;
        }

        .title {
          font-size: 1.8rem;
        }
       }